services:
  db:
    image: postgres:15-alpine
    container_name: pizza-db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    healthcheck:
      # 헬스체크 명령어도 사용자 이름(KMG)에 맞춰 수정해야 합니다.
      test: ["CMD-SHELL", "pg_isready -U KMG -d pizza_db"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always

volumes:
  postgres_data: